.wishlist_container {
  padding: 4rem 2rem 2rem 2rem;
  min-height: 100vh;
}

.wishlist_header {
  text-align: center;
}

.productList {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.product_unavailable {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}
