.productList {
  /* width: 85vw; */
  display: flex;
  padding: 1rem 2rem 2rem 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.product_display_count {
  margin: 5.5rem 0 0 1rem;
  font-weight: 600;
}

.product_unavailable {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  padding-left: 22rem;
}
