.checkout_container {
  min-height: 100vh;
  padding: 5rem 5rem 2rem 5rem;
}
.checkout_label {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}

.checkout_details {
  display: flex;
  justify-content: space-around;
}

.checkout_price_details {
  width: 25rem;
  height: fit-content;
  border-radius: 10px;
  background-color: #f8f8f8;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.checkout_order_detail_header,
.checkout_price_detail_header {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.checkout_order_item_detail_header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.checkout_order_item_detail {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0;
  font-size: 0.9rem;
}

.checkout_coupon_section {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.checkout_coupon_apply {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: rgb(211, 101, 4);
  font-weight: 800;
}

.checkout_coupon_btn {
  padding: 0.5rem 1.1rem;
  outline: none;
  color: #fff;
  word-spacing: 2px;
  border: 1px solid #0482c6;
  background-color: #0482c6;
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
}

.checkout_coupon_btn:hover {
  background-color: #026295;
}

.checkout_display {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin: 0.4rem 0;
}

.clear_coupon {
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
}

.checkout_display > div:nth-child(2) {
  font-weight: 600;
}

.checkout_address_selected {
  font-size: 0.85rem;
}

.checkout_order_btn {
  padding: 0.5rem 1rem;
  outline: none;
  width: 100%;
  color: #fff;
  word-spacing: 2px;
  border: none;
  background-image: linear-gradient(to right, #00b09b, #96c93d);
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.1rem;
}

.checkout_order_btn:hover {
  background-image: linear-gradient(to right, #009a88, #8aba38);
}

.cart_savings {
  text-align: start;
  margin-top: 1rem;
  color: #01ae01;
  font-weight: 600;
}
