.header_container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 8999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.logo_container {
  cursor: pointer;
}

.cloth_logo {
  width: 4rem;
}

.search_icon {
  position: relative;
  right: 2rem;
}

.search_box {
  width: 25rem;
  height: 2rem;
  border-radius: 8px;
  border: 2px solid rgb(152, 152, 152, 0.3);
  padding: 0 1rem;
  background-color: rgb(243, 243, 243);
  outline: none;
}

.search_box:focus {
  border-color: rgb(159, 49, 115);
}

.nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.nav_item {
  list-style-type: none;
  margin: 0 0.5rem;
}

.nav_explore_link {
  text-decoration: none;
  font-weight: bold;
  color: rgb(159, 49, 115);
  cursor: pointer;
}

/**rgb(252, 109, 65)*/
.btn_login {
  padding: 0.5rem 1rem;
  border: 1px solid rgb(159, 49, 115);
  color: rgb(159, 49, 115);
  background-color: #fff;
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
}

.btn_login:hover {
  background-color: rgb(159, 49, 115);
  color: #fff;
  cursor: pointer;
}

.profile_icon {
  font-size: 1.8rem;
  color: rgb(159, 49, 115);
  text-decoration: none;
  cursor: pointer;
}

.nav_icon_container {
  display: flex;
  position: relative;
}
.nav_item_icon {
  font-size: 2rem;
  color: rgb(159, 49, 115);
  text-decoration: none;
  cursor: pointer;
}

.wishlist_count {
  position: absolute;
  left: 60%;
  bottom: 45%;
  /* background: #01ae01; */
  background: rgb(244, 66, 173);
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
