.profile_info_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 4rem;
  padding-left: 1rem;
}

.profile_detail {
  font-size: 1.6rem;
  margin: 0.5rem;
  color: rgb(66, 66, 66);
  font-weight: 600;
}

.profile_detail_label {
  color: #000;
  font-weight: 400;
}

.profile_logout_btn {
  margin: 2rem auto;
  padding: 0.5rem 0;
  border: 1px solid #d90d0a;
  background-color: #d90d0a;
  color: #fff;
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
  width: 10rem;
}

.profile_logout_btn:hover {
  background-color: #b70a07;
  color: #fff;
  cursor: pointer;
}
