.profile_info_wrapper {
  padding: 2rem 1rem;
}

.profile_detail {
  font-size: 1.2rem;
  margin: 0.5rem;
  color: #44032a;
  font-weight: 800;
}

.profile_detail_label {
  color: #000;
  font-weight: 600;
}
